<div class = "row">
	<div class="panel panel-default">
		<div class="panel-heading"><h1>Edit or Create New Contact</h1></div>
		<div class="panel-body">
			<form method="post">
				<fieldset class="form-group">
				    <label for="exampleInputEmail1">Name</label>
				    <input type="text" class="form-control" name="name" placeholder="Name" value="{{contact.name}}" required>
			  </fieldset>
			  <fieldset class="form-group">
				    <label for="exampleInputEmail1">Phone Number</label>
				    <input type="text" class="form-control" name="phone" placeholder="Number" value = "{{contact.phone}}" required>
			  </fieldset>
			  <button type="submit" class="btn btn-secondary">Submit</button>
			  </form>
			</div>
		</div>
	</div>
</li>