
<div class = "row">
	<div class = "col-md-4"></div>
	<div class="panel panel-default col-md-4" id="panel">
		<div class="panel-heading" id ="panel-heading" ><center><h1>Sign Up</h1></center></div>
		<div class="panel-body">
			<form method="post">
				<fieldset class="form-group">
				    <label for="exampleInputEmail1">Name</label>
				    <input type="text" class="form-control" name="name" placeholder="Name" required>
			  </fieldset>
			  <fieldset class="form-group">
				    <label for="exampleInputEmail1">Password</label>
				    <input type="password" class="form-control" name="pass" placeholder="Password" required>
			  </fieldset>
			  <fieldset class="form-group">
				    <label for="exampleInputEmail1">Repeat Password</label>
				    <input type="password" class="form-control" name="pass2" placeholder="Confirm Password" required>
			  </fieldset>
			  <div id = "container">
			  <button type="submit" class="btn btn-secondary" id = "submitBtn">Submit</button>
			  <a class="btn btn-primary" href="/login" id="loginBtn">Log-In</a>
			  </form>
			  </div>
			</div>
		</div>
	</div>